/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --color-primary-1: #EE9999;
  --color-primary-3: #29386E;
  --color-primary-2: #D44529;
  --color-primary-4: #F77957;
  --color-text-: #57F7C9;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-success: #6fbf73;
  --color-error: #f44336;
  --color-warning: #f9a825;
  --color-info: #2196f3;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2);
  --gradient-primary: linear-gradient(to right bottom, #EE9999, #D44529); }

/* fonts */
@font-face {
  font-family: "Geomanist";
  src: url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.eot");
  src: url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.woff") format("woff"), url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1094504ae47cb9cfa800bc04261c211a.svg#Geomanist") format("svg"); }

/* reset & common styles */
body {
  margin: 0;
  padding: 0;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-1), var(--color-primary-2));
  overflow-y: auto;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  list-style-type: none;
  text-decoration: none; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.tui-image-editor-controls-logo > img {
  display: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 90em) {
    html {
      font-size: 59%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 36%; } }
  @media only screen and (max-width: 23.75em) {
    html {
      font-size: 36%; } }
  @media only screen and (min-width: 150em) {
    html {
      font-size: 95%; } }

.App {
  text-align: center; }

.App-logo {
  height: 40vmin;
  pointer-events: none; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; } }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

.cards {
  max-width: 500px;
  margin-bottom: 10px; }

.custom-dropdown .dropdown-menu.show {
  max-height: 300px;
  overflow-y: auto; }

.react-date-picker {
  margin-right: 7px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-navbar-primary: #cdc9c3;
  --bg-navbar-secondary: #000000;
  --bg-color-hp-primary: #fbf7f0;
  --bg-color-hp-secondary: linear-gradient(to bottom, #e9d8d0, #aa9d99, #6e6565, #373334, #000000);
  --bg-color-not-hp-secondary: #212121;
  --bg-logo-primary: #555555;
  --bg-logo-secondary: #141418;
  --home-title-primary: black;
  --home-title-secondary: white;
  --sign-btn-primary: #aaaaaa;
  --sign-btn-secondary: #555555;
  --sign-btn-fontColor-primary: black;
  --sign-btn-fontColor-secondary: white;
  --navLink-text-primary: black;
  --navLink-text-secondary: white;
  --logoTitle-primary: black;
  --logoTitle-seondary: white;
  --border-primary: black;
  --border-secondary: white;
  --input-box-bg-primary: #cdc9c3;
  --input-box-bg-secondary: #ffffff00;
  --input-box-border-1-primary: #cdc9c3;
  --input-box-border-1-secondary: black;
  --input-box-border-2-primary: #cdc9c3;
  --input-box-border-2-secondary: rgba(255, 255, 255, 0.5);
  --stock-container-primary: #a6a6a4;
  --stock-container-secondary: #f6f5f5;
  --modal-btn-primary: black;
  --modal-btn-secondary: white;
  overflow-x: hidden; }
  :root ::-webkit-scrollbar {
    width: 0px;
    background: transparent; }

.container {
  max-width: 150rem;
  margin: 15rem auto;
  box-shadow: var(--shadow-dark);
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 1440px) {
    .container {
      max-width: 120rem;
      margin: 8rem auto; } }
  @media only screen and (max-width: 75em) {
    .container {
      max-width: 100rem;
      margin: 8rem auto; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      max-width: 80rem;
      margin: 8rem auto; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      max-width: 70rem;
      margin: 8rem auto; } }

.page-enter {
  opacity: 0; }

.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 600ms; }

.page-exit {
  opacity: 1; }

.page-exit-active {
  opacity: 0;
  transition: opacity 400ms; }

.snackbar__cont {
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  min-width: 250px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2em 2em;
  z-index: 1; }
  .snackbar__cont .info_icon {
    font-size: 3em;
    color: #fff; }
  .snackbar__cont .info_text {
    font-size: 2em;
    color: #fff;
    padding: 0em 2em; }
  .snackbar__cont .close_icon {
    font-size: 2em;
    color: #fff; }

.snackbar_error {
  background-color: var(--color-error); }

.snackbar_success {
  background-color: var(--color-success); }

.snackbar_info {
  background-color: var(--color-info); }

.snackbar_warning {
  background-color: var(--color-warning); }

.header__cont {
  background-color: var(--color-primary-3);
  height: 10rem;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header__cont__logo {
    cursor: pointer;
    width: 9rem;
    height: 9rem;
    margin: 0 0rem 0 5rem;
    align-items: center;
    z-index: 999;
    margin-top: -10px; }
  .header__cont__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 30%; }
    .header__cont__title__text {
      position: relative;
      text-decoration: none;
      font-weight: 400;
      font-size: 2.5rem;
      color: var(--color-grey-light-1);
      transition: all .35s ease; }
      .header__cont__title__text::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -10px;
        left: 0;
        background-color: var(--color-primary-4);
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
      .header__cont__title__text:hover::before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }

.modal-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: none;
  background: rgba(0, 0, 0, 0.6); }

.modal-content-wrapper {
  position: fixed;
  width: 30%;
  height: 30%;
  background: white;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5rem;
  border-radius: 1rem;
  z-index: 999; }

.modal-content-wrapper-album {
  position: fixed;
  overflow-y: scroll;
  width: 90%;
  height: 90%;
  background: white;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5rem;
  border-radius: 1rem;
  z-index: 999; }

.modal-content-wrapper-loader {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1rem; }

.modal__cont {
  display: flex;
  flex-direction: column;
  border-radius: 1rem; }
  .modal__cont__title {
    color: black;
    font-size: 2rem; }
  .modal__cont__inputCont {
    margin: 2rem 0 2rem 0;
    display: block;
    border-bottom: none;
    position: relative; }
    .modal__cont__inputCont:after {
      content: "";
      background: -webkit-linear-gradient(left, #EE9999 0%, #D44529 100%);
      display: block;
      height: 5px;
      width: 100%;
      position: absolute; }
    .modal__cont__inputCont__input {
      height: 100%;
      width: 100%;
      border: none;
      transition: all .3s linear;
      font-size: 2rem;
      -webkit-appearance: none; }
      .modal__cont__inputCont__input:focus {
        outline: 0;
        box-shadow: 0 2px 6px -8px rgba(0, 0, 0, 0.45); }
    .modal__cont__inputCont__label {
      color: grey;
      font-size: 2rem; }
  .modal__cont__submitBtn {
    border-radius: 1rem;
    margin: 2rem 0 2rem 0;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 2rem;
    width: 50%;
    background-image: linear-gradient(to right, var(--color-primary-1), var(--color-primary-2));
    color: #fff;
    border: none;
    position: relative;
    transition: all .3s linear;
    cursor: pointer; }
    .modal__cont__submitBtn span {
      position: absolute;
      right: 2rem;
      transform: rotateX(90%); }
    .modal__cont__submitBtn:hover {
      opacity: 0.90; }

.categories-wrapper {
  position: relative; }

.category-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%; }

.category-input:checked + label {
  background: #2fff05;
  /* put your image here*/
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0; }

.signup__cont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background: #ffffff;
  padding: 5rem; }
  .signup__cont__left {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center; }
    .signup__cont__left__title {
      margin: 0 0 2rem 0;
      color: black;
      font-size: 3rem; }
    .signup__cont__left__inputCont {
      margin: 2rem 0 2rem 0;
      display: block;
      border-bottom: none;
      position: relative; }
      .signup__cont__left__inputCont:after {
        content: "";
        background: -webkit-linear-gradient(left, #EE9999 0%, #D44529 100%);
        display: block;
        height: 5px;
        width: 100%;
        position: absolute; }
      .signup__cont__left__inputCont__input {
        height: 100%;
        width: 100%;
        border: none;
        transition: all .3s linear;
        font-size: 2rem;
        -webkit-appearance: none; }
        .signup__cont__left__inputCont__input:focus {
          outline: 0;
          box-shadow: 0 2px 6px -8px rgba(0, 0, 0, 0.45); }
    .signup__cont__left__otherCont {
      margin: 2rem 0 2rem 0; }
      .signup__cont__left__otherCont__title {
        font-size: 1.5rem; }
    .signup__cont__left__submitBtn {
      margin: 2rem 0 2rem 0;
      padding: 1rem 1rem 1rem 1rem;
      font-size: 2rem;
      background-image: linear-gradient(to right, var(--color-primary-1), var(--color-primary-2));
      color: #fff;
      border: none;
      position: relative;
      transition: all .3s linear;
      cursor: pointer; }
      .signup__cont__left__submitBtn span {
        position: absolute;
        right: 2rem;
        transform: rotateX(90%); }
      .signup__cont__left__submitBtn:hover {
        opacity: 0.90; }
    .signup__cont__left__msg {
      font-size: 1.5rem;
      color: #000; }
      .signup__cont__left__msg__link {
        text-decoration: none;
        color: #D44529; }
  .signup__cont__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center; }
    .signup__cont__right__img {
      width: 55%;
      background-color: #f00; }

.signupImg--1 {
  margin-left: 50%; }

.signupImg--2 {
  width: 60%;
  margin-right: 30%; }

.signupImg--3 {
  margin-left: 40%; }

* {
  box-sizing: border-box; }

body {
  margin: 5px;
  position: relative; }

#gallery {
  display: grid;
  height: calc(100vh - 10px);
  grid-template: repeat(6, 1fr)/repeat(6, 1fr);
  grid-gap: 0.5em; }
  @media (max-width: 800px) {
    #gallery {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap; }
      #gallery > div {
        width: 48%;
        margin: 1%; } }
    @media (max-width: 800px) and (max-width: 350px) {
      #gallery > div {
        width: 98%; } }
  #gallery > div:nth-child(6n + 1) {
    grid-column: span 2;
    grid-row: span 2; }
  #gallery > div:nth-child(2) {
    grid-column: span 3;
    grid-row: span 3; }
  #gallery > div:nth-child(4) {
    grid-column: span 1;
    grid-row: span 2; }
  #gallery > div > a {
    opacity: 0;
    position: absolute;
    color: #000;
    background-color: #000;
    font: bold 4em "Helvetica";
    text-shadow: 0 -1px 5px #fff, -1px 0px 5px #fff, 0 1px 5px #fff, 1px 0px 5px #fff;
    padding: 2rem;
    mix-blend-mode: difference;
    width: 100%;
    height: 100%;
    transition: all ease 1s; }
  #gallery > div > img {
    width: 100%;
    min-height: 100%;
    transition: all ease 1s; }
  #gallery > div:hover img {
    filter: blur(4px); }
  #gallery > div:hover a {
    opacity: 1; }
  #gallery > div {
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19); }
  #gallery div,
  #gallery a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; }

[id^="lightbox-"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  opacity: 0;
  transition: opacity 450ms ease-in-out;
  align-items: center;
  justify-content: center;
  pointer-events: none; }
  [id^="lightbox-"]:target {
    opacity: 1;
    pointer-events: inherit; }
    [id^="lightbox-"]:target img {
      filter: blur(0); }
  [id^="lightbox-"] .content {
    max-width: 90%;
    position: relative;
    color: #fff; }
    [id^="lightbox-"] .content:hover > a.close {
      opacity: 1;
      transform: scale(1, 1); }
    [id^="lightbox-"] .content:hover > .title {
      opacity: 1;
      transform: translateY(-3px); }
      [id^="lightbox-"] .content:hover > .title::after {
        opacity: 1; }
    [id^="lightbox-"] .content > * {
      transition: all 450ms ease-in-out; }
  [id^="lightbox-"] .title {
    display: block;
    margin: 0;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(50%);
    font-size: 1.5em;
    opacity: 0; }
    [id^="lightbox-"] .title::after {
      content: ' ';
      background-color: rgba(0, 0, 0, 0.4);
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      transition: all 350ms ease-in-out 250ms;
      opacity: 0;
      transform-origin: bottom;
      mix-blend-mode: soft-light; }
  [id^="lightbox-"] img {
    max-height: 90vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    filter: blur(50px); }
  [id^="lightbox-"] a.close {
    width: 2em;
    height: 2em;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0, 0);
    opacity: 0;
    transform-origin: right top;
    text-decoration: none;
    color: #fff; }
    [id^="lightbox-"] a.close::after {
      content: "X"; }

h1.logo {
  color: white;
  padding: 4%;
  border-radius: 50%;
  font-size: 50px;
  font-style: italic;
  /* Shadow behind text */
  text-shadow: 1px 1px 2px #6f828f;
  filter: dropshadow(color=#6f828f, offx=1, offy=1); }

h2.title {
  font-weight: normal;
  font-style: italic;
  color: white;
  line-height: 26px;
  font-size: 34px; }

/* Intro */
.intro-block p {
  font-size: 18px;
  font-style: italic;
  color: #595959;
  margin: 40px 0; }

/* Photo */
.image {
  -webkit-box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.1); }

.image h2 {
  font-size: 16px;
  color: #2f3030; }

.image img {
  min-height: 230px;
  border-left: 10px solid white;
  border-right: 10px solid white;
  border-top: 10px solid white;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

.zoom-on-hover {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out; }

.zoom-on-hover:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

/* Rotate the images */
.rotate-right {
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg); }

.rotate-left {
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg); }

.caption {
  color: #999999;
  background: white;
  font-style: italic; }

.caption h2 {
  font-size: 20px; }

/* Footer */
.footer-wrap {
  margin: 0 2%;
  padding: 30px 0 50px 0;
  border-top: 1px solid white;
  color: white;
  /* Shadow behind text */
  text-shadow: 1px 1px 1px #6f828f;
  filter: dropshadow(color=#6f828f, offx=1, offy=1); }

footer a {
  color: white; }

footer small {
  font-size: 12px; }

/*
    ARE YOU FEELING AMBITIOUS?

    The CSS below controls all the advanced aspects of the page and its design.
    You're not expected to edit it but you are free to have a play. An ace
    reference resource to help you understand it can me found here:

    https://developer.mozilla.org/en-US/docs/Web/CSS

    Be aware though, you can break your page quite easily with this part of CSS.

*/
body,
html {
  margin: 0;
  padding: 0; }

a {
  color: #000000; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

ul {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.5em; }

hr {
  clear: both; }

/* Layout */
footer,
.wrapper {
  width: 80%;
  max-width: 708px;
  min-width: 550px;
  margin: 0 auto; }

section {
  width: 100%; }

/* Header */
header {
  padding: 30px 0;
  text-align: left; }

header h1.logo {
  display: inline-block;
  margin: 0; }

header h2.title {
  display: inline-block;
  float: right;
  padding: 4%; }

/* Footer */
footer {
  text-align: center; }

.footer-wrap {
  margin: 0 2%;
  padding: 30px 0 50px 0; }

/* Grids */
ul.grid {
  margin: 20px 0;
  padding: 0;
  list-style: none; }

ul.grid li {
  position: relative;
  margin: 3% 2%; }

ul.grid li:last-child {
  margin: 0 2%; }

ul.grid li a {
  display: block;
  cursor: pointer;
  text-decoration: none; }

ul.grid.half-width li {
  width: 46%;
  margin: 2%;
  float: left; }

ul.third-width li {
  width: 29.3%;
  margin: 0 2% 2%;
  float: left; }

/* Photo */
.image {
  z-index: 2;
  position: relative;
  overflow: hidden; }

.image img {
  position: relative;
  display: block;
  width: 100%;
  height: auto; }

.image h2 {
  margin: 0; }

/* Caption */
.caption {
  margin: 0;
  padding: 20px;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

/* Column */
.column {
  width: 96%;
  margin: 2%;
  float: none;
  clear: both; }

/* Group / Clear floating */
.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }
